
.specCardBody {
    width: 400px;
    height: 80px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 20px;
}

.specCardBody:hover {
    opacity: 0.8;
}

.specCardBody h1 {
    position: absolute;
    font-size: 180%;
    color: white;
}

.specImage {
    width: 100%;
    border-radius: 20px;
    filter: brightness(0%);
}

@media (max-width: 650px) {
    .specCardBody h1 {
        font-size: 140%;
    }

}