@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

:root {
  --main: #F7B031;
  --main-dark: #D28039;
  --brown: #9E451D;
  --dark-brown: #422A16;
  --black: #0C0C0C;
  --purple: #8E1C78;
  --bg: #D8AD00;
}
